<html>
<body>
<h3>Dear ${user.firstName},</h3>

<div>
   <p>Your Expense Tracker password has been reset. It is recommended that you change your 
   password after you logon using your temporary password mentioned below.</p>
   
   <p>User Id: ${user.username}</p>    
   <p>Password: ${user.password}</p>    
   
   <p>Thank You,</p>    
   <p>Expense Tracker Admin</p>   
</div>
</body>

</html>